.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
example/**
test-sample.arxml
test-output.artext
package_backup.json
.github/**
# node_modules/** removed to ensure dependencies are packaged
